django
-e git+https://github.com/markfinger/django-node.git#egg=django-node
-e git+https://github.com/markfinger/django-webpack.git#egg=django-webpack
#-e git+https://github.com/markfinger/django-react.git#egg=django-react