language: python

python:
  - "2.7"
  - "3.4"

env:
  - DJANGO_VERSION=1.6.10
  - DJANGO_VERSION=1.7.6
  - DJANGO_VERSION=1.8a1

matrix:
  exclude:
    - python: "3.4"
      env: DJANGO_VERSION=1.6.10

install:
  - "npm install -g npm"
  - "pip install Django==$DJANGO_VERSION"
  - "pip install ."

script: python runtests.py
