{% load static %}
<html>
<head>
	<title>Django + React + Webpack demo</title>
	<link rel="stylesheet" href="{% static 'example_app/vendor/bootstrap/css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'example_app/main.css' %}">
</head>
<body>
	<div class="container">
		<h1>Django + React + Webpack demo</h1>
		<p>
			The combination of server-side rendering & form-handling with client-side interactivity
			enables this page to perform similarly with or without JavaScript enabled.
		</p>
		<p>
			{% if no_js %}
				<a href="{% url 'index' %}">View this page with JavaScript</a>
			{% else %}
				<a href="{% url 'index-no-js' %}">View this page without JavaScript</a>
			{% endif %}
		</p>
		<!-- Insert the CommentBox's rendered markup -->
		<div id="content">{{ comment_box }}</div>
	</div>
	{% if not no_js %}
		<!-- Render a <script> element pointing to the CommentBox's bundle -->
		{{ comment_box_bundle.render }}
		<script>
			(function() {
				// In the webpack.config.js file, we specify a `library` property
				// which allows us to define a global variable which the bundle's
				// is exposed at
				var comment_box_bundle = {{ comment_box_bundle.get_library }};
				// We re-use the props which were serialised for the rendering
				var comment_box_props = {{ comment_box.render_props }};
				// The props are passed into the bundle, which immediately mounts
				// the component over the pre-rendered markup and adds interactivity
				comment_box_bundle(comment_box_props);
			})();
		</script>
	{% endif %}
</body>
</html>