<script>
	if (typeof {{ REACT_EXTERNAL  }} === 'undefined') {
		throw new Error('Cannot find React variable, tried `{{ REACT_EXTERNAL }}`');
	}
	if (typeof {{ variable }} === 'undefined') {
		throw new Error('Cannot find component variable `{{ variable }}`');
	}
	if (typeof {{ props_variable }} === 'undefined') {
		throw new Error('Cannot find props variable `{{ props_variable }}` for component `{{ variable }}`');
	}
	(function(React, component, props, containerId) {
		var element = React.createElement(component, props);
		var container = document.getElementById(containerId);
		if (!container) {
			throw new Error('Cannot find the container element `#{{ container_id }}` for component `{{ variable }}`');
		}
		React.render(element, container);
	})({{ REACT_EXTERNAL  }}, {{ variable }}, {{ props_variable }}, '{{ container_id }}');
</script>